# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
**/.env

# Production Builds
dist/
**/dist/
dist-electron/
**/dist-electron/

# Development/Testing Files
scratch/
**/scratch/
.system_generated/
**/.system_generated/

# OS specific files
.DS_Store
Thumbs.db
